body{
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);

}

h1{
    color: rgb(81, 81, 148);
    text-align: center;
}
h3,h4{
    text-align: center;
}
.spam{
    display: block;
    text-align: center;
}
.restf{
    display: block;
    text-align: center;
}

li,ul,img{
    width: 400px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    padding: 50px;
    border-style: double;
    margin-left: auto;
    margin-right: auto;
}
#spanId{
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 50px;
    
    
}
